# ðŸ§  Trabajo 1: Ejercicio de Aplicacion Autonoma

## ðŸ“‹ InformaciÃ³n del Proyecto
- Autores:
  - CARRERA DIAZ CHRISTIAN JAVIER
  - CERNA PACHECHO ROMEL MICHAEL
  - LUNA ARTEGA ALEXANDER PAUL
- VersiÃ³n: 1.0.0
- Licencia: MIT


ðŸŽ¯ Objetivos:

Ustedes han sido contratados como el equipo de Data Science para una firma de inversiÃ³n
inmobiliaria ("PropTech"). La firma quiere comprar propiedades para ponerlas en alquiler vacacional
(tipo Airbnb) pero no saben:
 - QuÃ© barrios son los mÃ¡s rentables.
 - QuÃ© caracterÃ­sticas (amenidades) permiten cobrar mÃ¡s por noche.
 - CÃ³mo se distribuye la demanda a lo largo del aÃ±o.

El dataset utilizado es el siguiente:

- Berlin(Airbnb): https://data.insideairbnb.com/germany/be/berlin/2025-09-23/data/listings.csv.gz

## 1ï¸âƒ£ Fase 1: Ingenieria de Datos y Limpieza

## ðŸš€ 1.1. Descarga del dataset

In [47]:
import os

# File compress and uncompress name`
compressed_file_path = 'dataset.csv.gz'
## Download file of dataset on
!wget 'https://data.insideairbnb.com/germany/be/berlin/2025-09-23/data/listings.csv.gz' -O {compressed_file_path}

--2026-02-01 18:14:30--  https://data.insideairbnb.com/germany/be/berlin/2025-09-23/data/listings.csv.gz
Resolving data.insideairbnb.com (data.insideairbnb.com)... 13.225.143.15, 13.225.143.66, 13.225.143.87, ...
Connecting to data.insideairbnb.com (data.insideairbnb.com)|13.225.143.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7263842 (6.9M) [application/x-gzip]
Saving to: â€˜dataset.csv.gzâ€™

dataset.csv.gz      100%[===================>]   6.93M  37.6MB/s    in 0.2s

2026-02-01 18:14:30 (37.6 MB/s) - â€˜dataset.csv.gzâ€™ saved [7263842/7263842]

## ðŸš€ 1.2. Previsualizacion y validacion

El dataset debe contener al menos 10000 registos para utilizarlo en el trabajo.

In [90]:
import pandas as pd


df = pd.read_csv(compressed_file_path)

# Validacion que contenga el minimo de registros solicitados en el ejercicio
if df.shape[0] < 10000:
  raise Exception
else:
  print(f'Dataset validado, el dataset contiene {df.shape[0]} registros \n')

# Describe el dataset cargado
df.describe()

Dataset validado, el dataset contiene 14274 registros

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.427400e+04,1.427400e+04,1.427400e+04,14260.000000,14260.000000,14274.000000,14274.000000,14274.000000,9330.000000,12250.000000,...,10960.000000,10957.000000,10959.000000,10957.000000,10956.000000,14274.000000,14274.00000,14274.000000,14274.000000,10960.000000
mean,5.216123e+17,2.025092e+13,1.916958e+08,25.747966,29.718373,52.508918,13.402307,3.052963,1.147856,1.356898,...,4.698032,4.826761,4.820638,4.761114,4.647221,14.070898,11.89022,1.973939,0.144529,1.298455
std,5.756023e+17,6.054900e+00,2.097931e+08,106.650292,126.145753,0.033824,0.068137,1.925029,0.480433,0.834283,...,0.404522,0.324465,0.366855,0.328695,0.404457,48.440490,46.97473,11.317932,1.527690,2.083910
min,3.176000e+03,2.025092e+13,1.581000e+03,1.000000,1.000000,52.341716,13.116893,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.010000
25%,2.152686e+07,2.025092e+13,1.767847e+07,1.000000,1.000000,52.490116,13.362065,2.000000,1.000000,1.000000,...,4.590000,4.790000,4.800000,4.670000,4.540000,1.000000,0.00000,0.000000,0.000000,0.130000
50%,5.203228e+07,2.025092e+13,8.970318e+07,1.000000,2.000000,52.509250,13.409885,2.000000,1.000000,1.000000,...,4.810000,4.920000,4.930000,4.840000,4.730000,1.000000,1.00000,0.000000,0.000000,0.560000
75%,1.096245e+18,2.025092e+13,3.622977e+08,5.000000,7.000000,52.531755,13.438165,4.000000,1.000000,2.000000,...,4.970000,5.000000,5.000000,5.000000,4.880000,5.000000,2.00000,1.000000,0.000000,1.830000
max,1.516055e+18,2.025092e+13,7.192701e+08,1359.000000,2112.000000,52.656110,13.721390,16.000000,15.000000,14.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,311.000000,311.00000,114.000000,24.000000,48.870000

## ðŸš€ 1.3. Transformacion de datos de la columna price

Se debe transformar el valor de la columna "price" en un valor manejable

In [71]:
# Valores de la columna actualmente

df['price'].unique()

array(['$105.00', '$135.00', '$75.00', '$32.00', '$202.00', nan,
       '$152.00', '$65.00', '$260.00', '$70.00', '$172.00', '$60.00',
       '$54.00', '$200.00', '$290.00', '$240.00', '$282.00', '$144.00',
       '$137.00', '$106.00', '$99.00', '$68.00', '$293.00', '$94.00',
       '$175.00', '$131.00', '$95.00', '$58.00', '$113.00', '$136.00',
       '$165.00', '$100.00', '$185.00', '$49.00', '$80.00', '$340.00',
       '$237.00', '$45.00', '$120.00', '$67.00', '$118.00', '$110.00',
       '$50.00', '$44.00', '$84.00', '$112.00', '$107.00', '$151.00',
       '$28.00', '$55.00', '$123.00', '$146.00', '$89.00', '$85.00',
       '$179.00', '$140.00', '$77.00', '$276.00', '$92.00', '$72.00',
       '$127.00', '$71.00', '$111.00', '$82.00', '$104.00', '$81.00',
       '$148.00', '$18.00', '$20.00', '$157.00', '$108.00', '$90.00',
       '$74.00', '$35.00', '$306.00', '$161.00', '$62.00', '$91.00',
       '$30.00', '$56.00', '$59.00', '$116.00', '$115.00', '$101.00',
       '$125.00', '$86.00', '$373.00', '$259.00', '$211.00', '$87.00',
       '$51.00', '$31.00', '$198.00', '$37.00', '$29.00', '$124.00',
       '$83.00', '$57.00', '$160.00', '$96.00', '$281.00', '$360.00',
       '$217.00', '$63.00', '$167.00', '$40.00', '$225.00', '$150.00',
       '$97.00', '$141.00', '$117.00', '$128.00', '$129.00', '$109.00',
       '$33.00', '$39.00', '$184.00', '$47.00', '$307.00', '$693.00',
       '$171.00', '$195.00', '$139.00', '$102.00', '$41.00', '$69.00',
       '$403.00', '$208.00', '$93.00', '$78.00', '$145.00', '$190.00',
       '$162.00', '$169.00', '$79.00', '$46.00', '$13.00', '$24.00',
       '$210.00', '$126.00', '$159.00', '$38.00', '$53.00', '$432.00',
       '$268.00', '$133.00', '$76.00', '$88.00', '$73.00', '$98.00',
       '$313.00', '$238.00', '$236.00', '$302.00', '$61.00', '$253.00',
       '$365.00', '$320.00', '$155.00', '$25.00', '$34.00', '$138.00',
       '$300.00', '$191.00', '$154.00', '$130.00', '$158.00', '$42.00',
       '$222.00', '$66.00', '$149.00', '$170.00', '$173.00', '$163.00',
       '$189.00', '$48.00', '$2,500.00', '$182.00', '$326.00', '$17.00',
       '$15.00', '$12.00', '$164.00', '$153.00', '$156.00', '$180.00',
       '$43.00', '$103.00', '$650.00', '$207.00', '$255.00', '$272.00',
       '$292.00', '$209.00', '$270.00', '$203.00', '$176.00', '$193.00',
       '$121.00', '$317.00', '$64.00', '$297.00', '$177.00', '$26.00',
       '$114.00', '$27.00', '$194.00', '$196.00', '$132.00', '$199.00',
       '$147.00', '$480.00', '$52.00', '$248.00', '$122.00', '$22.00',
       '$370.00', '$142.00', '$174.00', '$310.00', '$36.00', '$3,429.00',
       '$231.00', '$251.00', '$183.00', '$242.00', '$246.00', '$273.00',
       '$215.00', '$204.00', '$228.00', '$250.00', '$582.00', '$418.00',
       '$599.00', '$230.00', '$366.00', '$119.00', '$187.00', '$247.00',
       '$593.00', '$536.00', '$245.00', '$227.00', '$351.00', '$429.00',
       '$134.00', '$243.00', '$275.00', '$261.00', '$168.00', '$289.00',
       '$279.00', '$257.00', '$316.00', '$487.00', '$267.00', '$1,153.00',
       '$318.00', '$280.00', '$423.00', '$241.00', '$662.00', '$201.00',
       '$846.00', '$570.00', '$213.00', '$286.00', '$328.00', '$296.00',
       '$216.00', '$218.00', '$229.00', '$244.00', '$309.00', '$224.00',
       '$186.00', '$380.00', '$356.00', '$265.00', '$312.00', '$443.00',
       '$258.00', '$284.00', '$143.00', '$389.00', '$285.00', '$1,285.00',
       '$197.00', '$294.00', '$412.00', '$363.00', '$271.00', '$364.00',
       '$1,200.00', '$220.00', '$518.00', '$252.00', '$507.00', '$405.00',
       '$226.00', '$348.00', '$938.00', '$9,999.00', '$212.00', '$513.00',
       '$319.00', '$249.00', '$166.00', '$652.00', '$422.00', '$256.00',
       '$301.00', '$528.00', '$223.00', '$192.00', '$347.00', '$214.00',
       '$475.00', '$546.00', '$188.00', '$235.00', '$181.00', '$375.00',
       '$23.00', '$361.00', '$406.00', '$278.00', '$407.00', '$333.00',
       '$402.00', '$5.00', '$840.00', '$219.00', '$384.00', '$274.00',
       '$304.00', '$943.00', '$232.00', '$264.00', '$396.00', '$1,371.00',
       '$1,697.00', '$431.00', '$341.00', '$700.00', '$298.00', '$178.00',
       '$355.00', '$450.00', '$206.00', '$311.00', '$727.00', '$291.00',
       '$221.00', '$266.00', '$367.00', '$454.00', '$330.00', '$205.00',
       '$404.00', '$254.00', '$287.00', '$21.00', '$233.00', '$810.00',
       '$697.00', '$495.00', '$352.00', '$1,299.00', '$461.00', '$399.00',
       '$14.00', '$414.00', '$504.00', '$492.00', '$372.00', '$776.00',
       '$2,310.00', '$436.00', '$377.00', '$398.00', '$420.00', '$410.00',
       '$295.00', '$234.00', '$288.00', '$10.00', '$331.00', '$369.00',
       '$999.00', '$263.00', '$332.00', '$359.00', '$378.00', '$303.00',
       '$336.00', '$269.00', '$640.00', '$581.00', '$521.00', '$343.00',
       '$337.00', '$362.00', '$419.00', '$323.00', '$512.00', '$305.00',
       '$433.00', '$500.00', '$553.00', '$441.00', '$1,858.00', '$427.00',
       '$1,257.00', '$491.00', '$277.00', '$421.00', '$600.00', '$315.00',
       '$563.00', '$685.00', '$314.00', '$386.00', '$992.00', '$338.00',
       '$376.00', '$413.00', '$239.00', '$626.00', '$383.00', '$350.00',
       '$400.00', '$349.00', '$696.00', '$499.00', '$476.00', '$368.00',
       '$620.00', '$379.00', '$618.00', '$496.00', '$800.00', '$530.00',
       '$327.00', '$538.00', '$283.00', '$644.00', '$676.00', '$401.00',
       '$334.00', '$466.00', '$308.00', '$10,000.00', '$868.00',
       '$785.00', '$510.00', '$558.00', '$357.00', '$675.00', '$381.00',
       '$409.00', '$608.00', '$603.00', '$567.00', '$1,041.00', '$456.00',
       '$339.00', '$482.00', '$900.00', '$442.00', '$322.00',
       '$50,000.00', '$354.00', '$40,000.00', '$463.00', '$506.00',
       '$344.00', '$345.00', '$391.00', '$666.00', '$1,260.00', '$428.00',
       '$497.00', '$479.00', '$1,500.00', '$970.00', '$3,800.00',
       '$262.00', '$575.00', '$617.00', '$913.00', '$408.00', '$451.00',
       '$540.00', '$8,004.00', '$10,007.00', '$324.00', '$382.00',
       '$329.00', '$1,440.00', '$411.00', '$444.00', '$321.00', '$680.00',
       '$353.00', '$648.00', '$346.00', '$8,000.00', '$523.00',
       '$1,290.00', '$2,407.00', '$719.00', '$511.00', '$503.00',
       '$342.00', '$907.00', '$19.00', '$430.00', '$585.00', '$710.00',
       '$299.00', '$2,192.00', '$8,150.00', '$1,088.00'], dtype=object)

In [95]:
# Eliminaremos los simbolos y lo cambiaremos de tipo a float
if df['price'].dtype != 'float64':
  df['price'] = df['price'].str.replace('$', '')
  df['price'] = df['price'].str.replace(',', '')
  df['price'] = df['price'].astype(float)

# Valores de la columna despues de la transformacion

df['price'].unique()

array([1.0500e+02, 1.3500e+02, 7.5000e+01, 3.2000e+01, 2.0200e+02,
              nan, 1.5200e+02, 6.5000e+01, 2.6000e+02, 7.0000e+01,
       1.7200e+02, 6.0000e+01, 5.4000e+01, 2.0000e+02, 2.9000e+02,
       2.4000e+02, 2.8200e+02, 1.4400e+02, 1.3700e+02, 1.0600e+02,
       9.9000e+01, 6.8000e+01, 2.9300e+02, 9.4000e+01, 1.7500e+02,
       1.3100e+02, 9.5000e+01, 5.8000e+01, 1.1300e+02, 1.3600e+02,
       1.6500e+02, 1.0000e+02, 1.8500e+02, 4.9000e+01, 8.0000e+01,
       3.4000e+02, 2.3700e+02, 4.5000e+01, 1.2000e+02, 6.7000e+01,
       1.1800e+02, 1.1000e+02, 5.0000e+01, 4.4000e+01, 8.4000e+01,
       1.1200e+02, 1.0700e+02, 1.5100e+02, 2.8000e+01, 5.5000e+01,
       1.2300e+02, 1.4600e+02, 8.9000e+01, 8.5000e+01, 1.7900e+02,
       1.4000e+02, 7.7000e+01, 2.7600e+02, 9.2000e+01, 7.2000e+01,
       1.2700e+02, 7.1000e+01, 1.1100e+02, 8.2000e+01, 1.0400e+02,
       8.1000e+01, 1.4800e+02, 1.8000e+01, 2.0000e+01, 1.5700e+02,
       1.0800e+02, 9.0000e+01, 7.4000e+01, 3.5000e+01, 3.0600e+02,
       1.6100e+02, 6.2000e+01, 9.1000e+01, 3.0000e+01, 5.6000e+01,
       5.9000e+01, 1.1600e+02, 1.1500e+02, 1.0100e+02, 1.2500e+02,
       8.6000e+01, 3.7300e+02, 2.5900e+02, 2.1100e+02, 8.7000e+01,
       5.1000e+01, 3.1000e+01, 1.9800e+02, 3.7000e+01, 2.9000e+01,
       1.2400e+02, 8.3000e+01, 5.7000e+01, 1.6000e+02, 9.6000e+01,
       2.8100e+02, 3.6000e+02, 2.1700e+02, 6.3000e+01, 1.6700e+02,
       4.0000e+01, 2.2500e+02, 1.5000e+02, 9.7000e+01, 1.4100e+02,
       1.1700e+02, 1.2800e+02, 1.2900e+02, 1.0900e+02, 3.3000e+01,
       3.9000e+01, 1.8400e+02, 4.7000e+01, 3.0700e+02, 6.9300e+02,
       1.7100e+02, 1.9500e+02, 1.3900e+02, 1.0200e+02, 4.1000e+01,
       6.9000e+01, 4.0300e+02, 2.0800e+02, 9.3000e+01, 7.8000e+01,
       1.4500e+02, 1.9000e+02, 1.6200e+02, 1.6900e+02, 7.9000e+01,
       4.6000e+01, 1.3000e+01, 2.4000e+01, 2.1000e+02, 1.2600e+02,
       1.5900e+02, 3.8000e+01, 5.3000e+01, 4.3200e+02, 2.6800e+02,
       1.3300e+02, 7.6000e+01, 8.8000e+01, 7.3000e+01, 9.8000e+01,
       3.1300e+02, 2.3800e+02, 2.3600e+02, 3.0200e+02, 6.1000e+01,
       2.5300e+02, 3.6500e+02, 3.2000e+02, 1.5500e+02, 2.5000e+01,
       3.4000e+01, 1.3800e+02, 3.0000e+02, 1.9100e+02, 1.5400e+02,
       1.3000e+02, 1.5800e+02, 4.2000e+01, 2.2200e+02, 6.6000e+01,
       1.4900e+02, 1.7000e+02, 1.7300e+02, 1.6300e+02, 1.8900e+02,
       4.8000e+01, 2.5000e+03, 1.8200e+02, 3.2600e+02, 1.7000e+01,
       1.5000e+01, 1.2000e+01, 1.6400e+02, 1.5300e+02, 1.5600e+02,
       1.8000e+02, 4.3000e+01, 1.0300e+02, 6.5000e+02, 2.0700e+02,
       2.5500e+02, 2.7200e+02, 2.9200e+02, 2.0900e+02, 2.7000e+02,
       2.0300e+02, 1.7600e+02, 1.9300e+02, 1.2100e+02, 3.1700e+02,
       6.4000e+01, 2.9700e+02, 1.7700e+02, 2.6000e+01, 1.1400e+02,
       2.7000e+01, 1.9400e+02, 1.9600e+02, 1.3200e+02, 1.9900e+02,
       1.4700e+02, 4.8000e+02, 5.2000e+01, 2.4800e+02, 1.2200e+02,
       2.2000e+01, 3.7000e+02, 1.4200e+02, 1.7400e+02, 3.1000e+02,
       3.6000e+01, 3.4290e+03, 2.3100e+02, 2.5100e+02, 1.8300e+02,
       2.4200e+02, 2.4600e+02, 2.7300e+02, 2.1500e+02, 2.0400e+02,
       2.2800e+02, 2.5000e+02, 5.8200e+02, 4.1800e+02, 5.9900e+02,
       2.3000e+02, 3.6600e+02, 1.1900e+02, 1.8700e+02, 2.4700e+02,
       5.9300e+02, 5.3600e+02, 2.4500e+02, 2.2700e+02, 3.5100e+02,
       4.2900e+02, 1.3400e+02, 2.4300e+02, 2.7500e+02, 2.6100e+02,
       1.6800e+02, 2.8900e+02, 2.7900e+02, 2.5700e+02, 3.1600e+02,
       4.8700e+02, 2.6700e+02, 1.1530e+03, 3.1800e+02, 2.8000e+02,
       4.2300e+02, 2.4100e+02, 6.6200e+02, 2.0100e+02, 8.4600e+02,
       5.7000e+02, 2.1300e+02, 2.8600e+02, 3.2800e+02, 2.9600e+02,
       2.1600e+02, 2.1800e+02, 2.2900e+02, 2.4400e+02, 3.0900e+02,
       2.2400e+02, 1.8600e+02, 3.8000e+02, 3.5600e+02, 2.6500e+02,
       3.1200e+02, 4.4300e+02, 2.5800e+02, 2.8400e+02, 1.4300e+02,
       3.8900e+02, 2.8500e+02, 1.2850e+03, 1.9700e+02, 2.9400e+02,
       4.1200e+02, 3.6300e+02, 2.7100e+02, 3.6400e+02, 1.2000e+03,
       2.2000e+02, 5.1800e+02, 2.5200e+02, 5.0700e+02, 4.0500e+02,
       2.2600e+02, 3.4800e+02, 9.3800e+02, 9.9990e+03, 2.1200e+02,
       5.1300e+02, 3.1900e+02, 2.4900e+02, 1.6600e+02, 6.5200e+02,
       4.2200e+02, 2.5600e+02, 3.0100e+02, 5.2800e+02, 2.2300e+02,
       1.9200e+02, 3.4700e+02, 2.1400e+02, 4.7500e+02, 5.4600e+02,
       1.8800e+02, 2.3500e+02, 1.8100e+02, 3.7500e+02, 2.3000e+01,
       3.6100e+02, 4.0600e+02, 2.7800e+02, 4.0700e+02, 3.3300e+02,
       4.0200e+02, 5.0000e+00, 8.4000e+02, 2.1900e+02, 3.8400e+02,
       2.7400e+02, 3.0400e+02, 9.4300e+02, 2.3200e+02, 2.6400e+02,
       3.9600e+02, 1.3710e+03, 1.6970e+03, 4.3100e+02, 3.4100e+02,
       7.0000e+02, 2.9800e+02, 1.7800e+02, 3.5500e+02, 4.5000e+02,
       2.0600e+02, 3.1100e+02, 7.2700e+02, 2.9100e+02, 2.2100e+02,
       2.6600e+02, 3.6700e+02, 4.5400e+02, 3.3000e+02, 2.0500e+02,
       4.0400e+02, 2.5400e+02, 2.8700e+02, 2.1000e+01, 2.3300e+02,
       8.1000e+02, 6.9700e+02, 4.9500e+02, 3.5200e+02, 1.2990e+03,
       4.6100e+02, 3.9900e+02, 1.4000e+01, 4.1400e+02, 5.0400e+02,
       4.9200e+02, 3.7200e+02, 7.7600e+02, 2.3100e+03, 4.3600e+02,
       3.7700e+02, 3.9800e+02, 4.2000e+02, 4.1000e+02, 2.9500e+02,
       2.3400e+02, 2.8800e+02, 1.0000e+01, 3.3100e+02, 3.6900e+02,
       9.9900e+02, 2.6300e+02, 3.3200e+02, 3.5900e+02, 3.7800e+02,
       3.0300e+02, 3.3600e+02, 2.6900e+02, 6.4000e+02, 5.8100e+02,
       5.2100e+02, 3.4300e+02, 3.3700e+02, 3.6200e+02, 4.1900e+02,
       3.2300e+02, 5.1200e+02, 3.0500e+02, 4.3300e+02, 5.0000e+02,
       5.5300e+02, 4.4100e+02, 1.8580e+03, 4.2700e+02, 1.2570e+03,
       4.9100e+02, 2.7700e+02, 4.2100e+02, 6.0000e+02, 3.1500e+02,
       5.6300e+02, 6.8500e+02, 3.1400e+02, 3.8600e+02, 9.9200e+02,
       3.3800e+02, 3.7600e+02, 4.1300e+02, 2.3900e+02, 6.2600e+02,
       3.8300e+02, 3.5000e+02, 4.0000e+02, 3.4900e+02, 6.9600e+02,
       4.9900e+02, 4.7600e+02, 3.6800e+02, 6.2000e+02, 3.7900e+02,
       6.1800e+02, 4.9600e+02, 8.0000e+02, 5.3000e+02, 3.2700e+02,
       5.3800e+02, 2.8300e+02, 6.4400e+02, 6.7600e+02, 4.0100e+02,
       3.3400e+02, 4.6600e+02, 3.0800e+02, 1.0000e+04, 8.6800e+02,
       7.8500e+02, 5.1000e+02, 5.5800e+02, 3.5700e+02, 6.7500e+02,
       3.8100e+02, 4.0900e+02, 6.0800e+02, 6.0300e+02, 5.6700e+02,
       1.0410e+03, 4.5600e+02, 3.3900e+02, 4.8200e+02, 9.0000e+02,
       4.4200e+02, 3.2200e+02, 5.0000e+04, 3.5400e+02, 4.0000e+04,
       4.6300e+02, 5.0600e+02, 3.4400e+02, 3.4500e+02, 3.9100e+02,
       6.6600e+02, 1.2600e+03, 4.2800e+02, 4.9700e+02, 4.7900e+02,
       1.5000e+03, 9.7000e+02, 3.8000e+03, 2.6200e+02, 5.7500e+02,
       6.1700e+02, 9.1300e+02, 4.0800e+02, 4.5100e+02, 5.4000e+02,
       8.0040e+03, 1.0007e+04, 3.2400e+02, 3.8200e+02, 3.2900e+02,
       1.4400e+03, 4.1100e+02, 4.4400e+02, 3.2100e+02, 6.8000e+02,
       3.5300e+02, 6.4800e+02, 3.4600e+02, 8.0000e+03, 5.2300e+02,
       1.2900e+03, 2.4070e+03, 7.1900e+02, 5.1100e+02, 5.0300e+02,
       3.4200e+02, 9.0700e+02, 1.9000e+01, 4.3000e+02, 5.8500e+02,
       7.1000e+02, 2.9900e+02, 2.1920e+03, 8.1500e+03, 1.0880e+03])

In [ ]:
## ðŸš€ 1.4. Revision de columnas en nulo mayor al 30%

Se debe transformar el valor de la columna "price" en un valor manejable

In [123]:

# Ahora revisaremos los nulos en las columnas
df_is_navalues = df.isna().sum()
df_is_navalues_percentage = df_is_navalues / df.shape[0] * 100

# Colunas que no tienen valor. Como se muestra en el resultado tenemos al menos las columnas
# price, amenities, last_review, room_type, latitude, longitude.

print(df_is_navalues_percentage[df_is_navalues_percentage > 30])

neighborhood_overview       54.644809
host_about                  47.933305
host_response_time          35.154827
host_response_rate          35.154827
host_acceptance_rate        31.371725
host_neighbourhood          59.268600
neighbourhood               54.644809
bathrooms                   34.636402
beds                        34.993695
price                       35.098781
calendar_updated           100.000000
estimated_revenue_l365d     35.098781
license                     34.867591
dtype: float64

In [ ]:
# Como la columna price tiene 35% de datos la llenaremos con 0 para evi

In [119]:
df_without_navalues = df.dropna()
print(df_without_navalues[df_without_navalues > 0])

if df_without_navalues.shape[0] < 10000:
  print(f'Dataset no validado, el dataset contiene {df_without_navalues.shape[0]} registros \n')
  raise Exception
else:
  print(f'Dataset validado, el dataset contiene {df_without_navalues.shape[0]} registros \n')

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, availability_eoy, number_of_reviews_ly, estimated_occupancy_l365d, estimated_revenue_l365d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 79 columns]
Dataset no validado, el dataset contiene 0 registros

Exception:

## 2ï¸âƒ£ Fase 2: Analisis Exporatorio (EDA)

## 3ï¸âƒ£ Fase 3: VisualizaciÃ³n Avanzada y Negocio

## 4ï¸âƒ£ Fase 4: ReflexiÃ³n y buenas prÃ¡cticas

## 5ï¸âƒ£ Fase 5: AplicaciÃ³n al entorno profesional